{% extends 'base.html' %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block body %}
    <div class="breadcrumb-area shadow text-center dark bg-fixed text-light"
         style="background-image: url({{ photos.example_page.url }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Səhər Yeməkləri</h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="food-menu-area inc-isotop default-padding">
        <div class="container">


            <div class="food-menu-area text-center">
                <div class="row">
                    <div class="col-md-12 food-menu-content">


                        <div class="row text-center masonary">
                            <div id="portfolio-grid" class="menu-lists text-center col-3"
                                 id="time_meat">
                                {% for food in meals %}
                                    <div class="item-single pf-item pancakes meat">
                                        <div class="item">
                                            <div class="thumb hovereffect">
                                                {% if food.mealsimages_set.last.image.url|length > 0 %}
                                                    {% thumbnail food.mealsimages_set.last.image "360x270" crop="center" as img %}
                                                        <a href="{% url 'detail-food' food.id %}"><img
                                                                class="img-responsive"
                                                                src={{ img.url }}></a>
                                                    {% endthumbnail %}
                                                    <a href="{% url 'detail-food' food.id %}">
                                                        <div class="overlay">
                                                            <h2>{{ food.name }}</h2>
                                                        </div>
                                                    </a>
                                                {% else %}
                                                    {% thumbnail food.image_default "360x270" crop="center" as img %}
                                                        <a href="{% url 'detail-food' food.id %}"><img
                                                                class="img-responsive"
                                                                src={{ img.url }}></a>
                                                    {% endthumbnail %}
                                                    <a href="{% url 'detail-food' food.id %}">
                                                        <div class="overlay">
                                                            <h2>{{ food.name }}</h2>
                                                        </div>
                                                    </a>
                                                {% endif %}


                                                <div class="price">
                                                    <h5>{{ food.price }} azn</h5>
                                                </div>
                                            </div>
                                            <div class="info">
                                                <h4><a href="#">{{ food.name }}</a></h4>

                                                <span>{{ food.category }}</span>
                                                <hr>
                                                <span class="post_like_count">Bəyənmə sayı: {{ food.like_set.all.count }}</span>
                                                <hr>
                                                <span>Paylasilma tarixi: {{ food.date|date:"d M G : i" }}</span>
                                                {% if food.author != request.user %}
                                                    <div class="button">
                                                        <a href="{% url 'order' food.id %}">Order Now</a>
                                                    </div>
                                                {% else %}
                                                    <div class="button">
                                                        <a href="{% url 'index' %}">Order Now</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                                                            <ul class="pager">
                                            {% if meals.has_previous %}
                                                <li class="page-item disabled"><a class="page-link"
                                                                                  href="?page={{ meals.previous_page_number }}"><i
                                                        class="fa fa-angle-left"></i></a>
                                                </li>
                                            {% endif %}


                                            {% if meals.has_next %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ meals.next_page_number }}"><i
                                                        class="fa fa-angle-right"></i></a>
                                                </li>
                                            {% endif %}
                                        </ul>



                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}