{% extends 'base.html' %}
{% load thumbnail %}
{% block body %}
    <div class="breadcrumb-area shadow text-center dark bg-fixed text-light"
         style="background-image: url({{ photos.example_page.url }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ text.addfood_page }}</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="food-menu-area inc-isotop default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">

                        <h2> {{ first.name }} </h2>


                    </div>
                </div>
            </div>


            <div class="food-menu-area text-center">
                <div class="row">
                    <div class="col-md-12 food-menu-content">
                        <div class="row text-center masonary">
                            <div id="portfolio-grid" class="menu-lists text-center col-3 elvinbudeyismelidi" id="time_meat">
                                {% for food in meals %}
                                    <div class="item-single pf-item pancakes meat">
                                        <div class="item">
                                            <div class="thumb hovereffect">
                                                {% thumbnail food.mealsimages_set.last.image "360x270" crop="center" as img %}
                                                    <a href="{% url 'detail-food' food.id %}"><img
                                                            class="img-responsive"
                                                            src={{ img.url }}></a>
                                                {% endthumbnail %}
                                                <a href="{% url 'detail-food' food.id %}">
                                                    <div class="overlay">
                                                        <h2>{{ food.name }}</h2>
                                                    </div>
                                                </a>


                                                <div class="price">
                                                    <h5>{{ food.price }} azn</h5>
                                                </div>
                                            </div>
                                            <div class="info">
                                                <h4><a href="#">{{ food.name }}</a></h4>

                                                <span>{{ food.category }}</span>
                                                <hr>
                                                <span class="post_like_count">Bəyənmə sayı: {{ food.like_set.all.count }}</span>
                                                <hr>
                                                <span>Paylasilma tarixi: {{ food.date|date:"d M G : i" }}</span>
                                                {% if food.author != request.user %}
                                                    <div class="button">
                                                        <a href="{% url 'order' food.id %}">Order Now</a>
                                                    </div>
                                                {% else %}
                                                    <div class="button">
                                                        <a href="{% url 'index' %}">Order Now</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                        <div class="row">
                            <a href="{% url 'all-food' %}" class="btn btn-success"
                               style="border: none;background: #ff1818;">Daha çox</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}